# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../pet_app_server\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../:\projects\sources\pet_app_server\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
